<div class="main_header">
  <div class="room_name_main">
    hogefuga
  </div>
  <div class="delete_chat">
    <a>チャットを終了する</a>
  </div>
</div>

<%# ここからメイン %>
<div class="main_messages">
  <div class="message">
    <div class="upper_message">
      <div class="message_username">
        Tom
      </div>
      <div class="message_date">
        2020/3/31(Wed)12:43:30
      </div>
    </div>
    <div class="down_message">
      <div class="message_text">
        おはよう
      </div>
    </div>
  </div>
    <div class="message">
    <div class="upper_message">
      <div class="message_username">
        Tom
      </div>
      <div class="message_date">
        2020/3/31(Wed)12:43:30
      </div>
    </div>
    <div class="down_message">
      <div class="message_text">
        おはよう
      </div>
    </div>
  </div>
</div>

<%# ここからフッター %>
<div class="main_footer">
  <form class="message_form">
    <div class="left_form">
      <input class="form_message" placeholder="type a message">
      <label class="form_image">
        <span class="image_file">画像</span>
        <input class="hidden" type="file">
      </label>
    </div>
    <input class="form_submit" type="submit" value="送信">
  </form>
</div>
